body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#loginForm,
#signupForm {
    display: none;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#bookingForm,
#paymentForm {
    max-width: 300px;
    margin: 20px auto;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#totalCost {
    font-weight: bold;
    color: #333;
}